<script setup>
import { computed } from "vue";

const props = defineProps(["date"]);
  defineEmits(["click"]);
  const date = computed(() => {
    return props.date.toLocaleDateString().replaceAll("/", ".");
  })
</script>

<template>
  <div @click="$emit('click')">
    <p>{{date}}</p>
    <i class="fa-regular fa-calendar"></i>
  </div>
</template>

<style scoped lang="scss">
  div {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: var(--secondary) 2px solid;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
</style>