<script setup>
import { ref } from "vue";

defineProps(["data", "value"]);
  defineEmits(["update:value"]);

  const button = ref(null);
  const dropdown = ref(null);
  const showDropdown = ref(false);

  function toggleDropdown() {
    showDropdown.value = !showDropdown.value;
  }
</script>

<template>
  <div class="wrapper">
    <div ref="button" class="button" @click="toggleDropdown">
      <p>{{data[value] === undefined ? "Select..." : data[value]}}</p>
      <i class="chevron fa-solid fa-chevron-down"></i>
    </div>
    <div ref="dropdown" class="dropdown" v-show="showDropdown">
      <div :class="{entry, active: index === value}" v-for="(entry, index) in data"
           @click="$emit('update:value', index); toggleDropdown()">
        <p>{{entry}}</p>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .wrapper {
    position: relative;
    width: 100%;
  }

  .button {
    padding: 0.75rem 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    border: var(--secondary) 2px solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    p {
      width: 100%;
      color: var(--primary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }

  .dropdown {
    position: absolute;
    background-color: var(--secondary-background);
    padding: 1rem 1rem;
    border-radius: 1rem;
    z-index: 2;
    bottom: 110%;
    height: 20rem;
    width: 15rem;

    .entry {
      width: 100%;
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 0.5rem;

      &:hover, &.active {
        background-color: var(--accent);
      }
    }
  }
</style>