<script setup>
  defineEmits(["click"])
</script>

<template>
  <div class="button" @click="$emit('click')">
  </div>
</template>

<style scoped lang="scss">
  .button {
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary-background);
    border-radius: 0.25rem;
    border: color-mix(in srgb, var(--primary) 50%, transparent) 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
    cursor: pointer;

    &::after, &::before {
      content: '';
      display: block;
      width: 1rem;
      height: 0.2rem;
      background-color: var(--primary);
      border-radius: 1rem;
      margin: 0.1rem 0;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--primary) 15%, transparent);
    }

    svg {
      width: 0.9rem;
    }
  }
</style>