<script setup>
  defineProps(["text", "type"])
  defineEmits(["click"])
</script>

<template>
  <div class="button"
       :class="type"
       @click="$emit('click')">
    <p>{{text}}</p>
  </div>
</template>

<style scoped lang="scss">
  .button {
    background-color: var(--background);
    border-radius: 10rem;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    cursor: pointer;

    &.primary {
      background-color: var(--accent);
      p {
        color: var(--background);
      }
    }

    &.negative {
      background-color: var(--negative);
    }

    p {
      color: var(--primary);
      text-wrap: avoid;
      white-space: nowrap;
      font-weight: 500;
    }
  }
</style>