<script setup>
import { nextTick, onMounted, onUpdated, ref } from "vue";

  const props = defineProps(["placeholder", "value", "multiline", "styleClass", "overrideEnter"]);
  const emits = defineEmits(["update:value"]);

  const textField = ref(null);

  onMounted( () => {
    nextTick().then(() => {
      adaptHeight();
    });
  });
  onUpdated(adaptHeight);

  function adaptHeight() {
    textField.value.style.height = "0";
    textField.value.style.height = `${textField.value.scrollHeight}px`;
  }

  function input(e) {
    adaptHeight();
    emits('update:value', e.target.value);
  }

  function handleKeydown(e) {
    if (props.overrideEnter) {
      e.preventDefault();
      input(e);
      textField.value.blur();
    }
  }

// TODO: non title text areas have a weird height (compare to old commit)
</script>

<template>
  <input type="text" :class="styleClass" v-if="!multiline"
         :placeholder="placeholder"
         :value="value"
         @change="$emit('update:value', $event.target.value)">
  <textarea ref="textField" :placeholder="placeholder" :class="styleClass" v-if="multiline"
            :value="value"
            @keydown.enter="handleKeydown"
            @input="input"></textarea>
</template>

<style scoped lang="scss">
  @use '@/CSS/style' as primary;

  input, textarea {
    overflow-y: hidden;
    min-height: 3.25rem;
    resize: vertical;
    max-height: 50vh;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: var(--secondary) 2px solid;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font: inherit;
    font-size: 1.1rem;
    color: var(--primary);

    &.unstyled {
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0;
    }

    &.h1 {
      @include primary.h1();
    }

    &.noResize {
      resize: none;
    }

    &::placeholder {
      color: color-mix(in srgb, var(--primary), transparent 25%);
    }
  }
</style>