<script setup>
import { inject, ref } from "vue";

const props = defineProps(['dragId']);

  const { reportDragBegin, reportDragEnd, reportMouseOver, globalDragState } = inject('draggable');

  const draggable = ref(null);
  let offset = {x: 0, y:0};
  let width = 0;
  const dragState = ref('');

  function dragBegin(e) {
    if (e.button !== 0) return;
    dragState.value = 'begin';
    const rect = draggable.value.getBoundingClientRect();
    offset = {
      x: rect.x - e.x,
      y: rect.y - e.y
    };
    width = rect.width;
  }

  document.addEventListener("mouseup", () => {
    if (dragState.value === 'ongoing') {
      draggable.value.style.position = "static";
      draggable.value.style.left = `0px`;
      draggable.value.style.top = `0px`;
      draggable.value.style.width = "auto";

      reportDragEnd(props.dragId);
    }
    dragState.value = '';
  })

  document.addEventListener("mousemove", e => {
    if (dragState.value === 'begin') {
      dragState.value = 'ongoing';
      reportDragBegin();
    }
    if (dragState.value === 'ongoing') {
      e.preventDefault();
      draggable.value.style.position = "fixed";
      draggable.value.style.left = `${e.x + offset.x}px`;
      draggable.value.style.top = `${e.y + offset.y}px`;
      draggable.value.style.width = `${width}px`;
    }
  });

  function mouseOver(e) {
    if (dragState.value === '' && globalDragState.value) {
      const rect = draggable.value.getBoundingClientRect();
      if (e.y > rect.y + rect.height / 2) {
        reportMouseOver(props.dragId, 1);
      } else {
        reportMouseOver(props.dragId, 0);
      }
    }
  }
</script>

<template>
  <div :class="{'draggable': true, 'isDragging': dragState === 'ongoing'}" ref="draggable"
       @mousedown="dragBegin"
       @mousemove="mouseOver">
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
  .draggable {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    &.isDragging {
      pointer-events: none;
    }
  }
</style>