<script setup>
import { computed, h, provide, ref, useSlots, watch } from "vue";

const props = defineProps(['array']);
  const emits = defineEmits(['reorder']);
  const slots = useSlots();
  const reactiveSlots = computed(() => slots.default()[0]);

  const list = ref(null)
  const globalDragState = ref(false);
  let lastMouseOver = ref(null);
  let lastPosition;

  const modifiedSlots = ref(slots.default()[0].children);

  watch(reactiveSlots, (val, oldVal) => {
    modifiedSlots.value = val.children;
  });

  function reportDragBegin() {
    globalDragState.value = true;
    document.body.style.cursor = "grabbing"
  }

  function reportDragEnd(id) {
    globalDragState.value = false;
    document.body.style.cursor = "";
    modifiedSlots.value = modifiedSlots.value.filter(vnode => {
      return vnode.ctx !== null;
    });

    const activeIndex = props.array.findIndex(
      (elem) => elem.id === id
    );
    const lastMouseOverIndex = props.array.findIndex(
      (elem) => elem.id === lastMouseOver.value
    );

    if (lastMouseOverIndex > activeIndex) {
      emits('reorder', {
        oldIndex: activeIndex,
        newIndex: lastMouseOverIndex-1 + lastPosition
      });
    } else {
      emits('reorder', {
        oldIndex: activeIndex,
        newIndex: lastMouseOverIndex - lastPosition
      });
    }
  }

  function reportMouseOver(id, position) {
    if (lastMouseOver.value !== id || lastPosition !== position) {
      lastMouseOver.value = id;
      lastPosition = position;

      let placeholderIndex = modifiedSlots.value.findIndex(vnode => {
        return vnode.ctx === null;
      });
      if (placeholderIndex !== -1) {
        modifiedSlots.value.splice(placeholderIndex, 1);
      }

      let mouseOverIndex = modifiedSlots.value.findIndex(slot => {
        return slot.props.dragId === id;
      });
      modifiedSlots.value.splice(mouseOverIndex + position, 0, h("div", {class: 'placeholder'}));
    }
  }

  provide('draggable', {
    reportDragBegin,
    reportDragEnd,
    reportMouseOver,
    lastMouseOver,
    globalDragState
  });
</script>

<template>
  <div class="draggableList" ref="list">
    <component :is="() => modifiedSlots"></component>
  </div>
</template>

<style scoped lang="scss">
</style>

<style>
  .draggableList .placeholder {
    height: 2rem;
    width: 100%;
    opacity: 0.5;
    border-radius: 0.5rem;
    background-color: var(--accent);
  }
</style>