<script setup>
  import GoalOverview from "@/Components/Widgets/GoalOverview.vue";
  import { useRoute } from "vue-router";
  import { computed } from "vue";
  import DailyTasksSidebar from "@/Components/DailyTasksSidebar.vue";
  import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";
  import "chartist/dist/index.css";
  import TabView from "@/Components/TabView/TabView.vue";
  import Tab from "@/Components/TabView/Tab.vue";
  import TaskButton from "@/Components/TaskButton.vue";
  import { useGoalStore } from "@/Stores/goalStore";
  import { useTaskStore } from "@/Stores/taskStore";
  import { useSubGoalStore } from "@/Stores/subGoalStore";
  import TextInput from "@/Components/Inputs/TextInput.vue";

  const goalStore = useGoalStore(),
        subGoalStore = useSubGoalStore(),
        taskStore = useTaskStore();

  let route = useRoute();

  const goalData = computed(() => {
    return goalStore.getById(route.params.id)
  });
  function filter(elem) {
    return taskStore.getGoal(elem).id === route.params.id;
  }

  function updateTitle(val) {
    const data = goalData.value;
    data.title = val.replace(/\n/g, " ");
    goalStore.updateGoal(data);
  }

  const progress = computed(() => {
    let tasks = goalStore.getTasks(
      route.params.id, {allTime: true}
    );
    let length = Math.max(tasks.length, 1);
    return Math.round(tasks.filter(task => {
      return task.checked;
    }).length / length * 100);
  })
</script>

<template>
  <div class="wrapper">
    <div class="mainContent">
      <TextInput :value="goalData.title"
                 @update:value="updateTitle"
                 style-class="unstyled h1 noResize"
                 multiline="true"
                 override-enter="true"></TextInput>
      <p class="pageSubtitle">{{goalData.description}}</p>
      <suspense>
        <div class="pageContent">
          <TabView class="tabView">
            <Tab title="Overview" id="1" class="tab dynamicGrid">
              <GoalOverview :goalId="useRoute().params.id" class="goalOverview"></GoalOverview>
              <WidgetScaffold class="progress">
                <h2>Progress - {{progress}}%</h2>
                <div class="progressBar" :style="{'--progress': `${progress}`}"></div>
              </WidgetScaffold>
            </Tab>
            <Tab title="Statistics" id="2" class="tab dynamicGrid">
              <WidgetScaffold class="chart">
                <h2>Statistics</h2>
                <div id="chart"></div>
              </WidgetScaffold>
            </Tab>
            <Tab title="Scrapped" id="3" class="tab dynamicGrid">
              <WidgetScaffold class="scrapped">
                <h2>Scrapped Ideas</h2>
                <div class="content">
                  <TaskButton show="subGoal" :task-data="task"
                              v-for="task in taskStore.tasks.filter(elem => elem.scrapped)"
                              :color="subGoalStore.getById(task.parentId).color"></TaskButton>
                </div>
              </WidgetScaffold>
            </Tab>
          </TabView>
        </div>
      </suspense>
    </div>
    <DailyTasksSidebar :filter="filter"></DailyTasksSidebar>
  </div>
</template>

<style scoped lang="scss">
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 25rem;
    column-gap: 0.5rem;
    width: 100%;
    height: 100%;

    .mainContent {
      height: 100%;
      overflow-y: scroll;
      padding-right: 1rem;
      padding-bottom: 5rem;

      .pageContent {
        .historyTab {
          .calendar {
            grid-area: span 4 / span 5;
          }

          .historyView {
            grid-area: span 4 / span 6;
            overflow-y: scroll;

            h2 {
              margin-bottom: 0.5rem;
            }
          }
        }

        .tab {
          .goalOverview {
            grid-area: span 6 / span 10;
          }

          .chart {
            grid-area: span 4 / span 6;
          }

          .progress {
            grid-area: span 5 / span 7;
          }

          .scrapped {
            grid-area: span 4 / span 8;
            display: flex;
            flex-direction: column;

            .content {
              overflow-y: scroll;
              margin-top: 1rem;
              display: flex;
              flex-direction: column;
              row-gap: 0.5rem;
              border-radius: 0.5rem;
            }
          }

          .progressBar {
            margin-top: 1rem;
            border: 2rem solid var(--primary);
            border-bottom: none;
            aspect-ratio: 2;
            width: 100%;
            background-color: transparent;
            border-radius: 100rem 100rem 0 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
              content: '';
              background-color: var(--accent);
              display: block;
              position: absolute;
              bottom: 0;
              aspect-ratio: 2;
              transform: rotateZ(calc(var(--progress) * 1.8deg + 180deg));
              transform-origin: bottom;
              width: 85%;
              border-radius: 100rem 100rem 0 0;
              transition: transform 0.5s;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .pageContent {
      justify-content: stretch;
    }
  }
</style>