<script setup>
import IllustratedButton from "@/Components/Widgets/IllustratedButton.vue";
import { useRouter } from "vue-router";
import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";
import TextButton from "@/Components/Inputs/TextButton.vue";
import DailyTasksSidebar from "@/Components/DailyTasksSidebar.vue";
import { useDialogStates } from "@/Stores/dialogStates";
import DraggableList from "@/Components/DraggableList/DraggableList.vue";
import Draggable from "@/Components/DraggableList/Draggable.vue";
import { GlobalMenuOption, useGlobalMenuStore } from "@/Stores/globalMenuStore";
import { useGoalStore } from "@/Stores/goalStore";

const router = useRouter();
  const states = useDialogStates();
  const globalMenuStore = useGlobalMenuStore();
  const goalStore = useGoalStore();

  function toggleDialog() {
    states.push("createGoal", {
      onCreate: (goal) => {
        router.push({path: `/productivity/overview/${goal.id}`});
      }
    })
  }

  function toggleConfirmation(goal) {
    states.push("confirmation", {
      onConfirm: () => goalStore.removeGoal(goal)
    });
  }

  function onContext(e, goal) {
    globalMenuStore.$patch({
      target: e.target,
      options: [
        new GlobalMenuOption({
          title: "Delete",
          callback: () => toggleConfirmation(goal)
        })
      ]
    });
  }
</script>

<template>
  <div class="wrapper">
    <div class="mainContent">
      <h1>Your way to productivity!</h1>
      <p class="pageSubtitle">A quick overview over all your goals</p>
      <div v-if="goalStore.goals.length === 0" class="pageContent">
        <IllustratedButton
          title="Basic Todo"
          description="Get started with a simple todo integration - nothing more, nothing less"/>
        <IllustratedButton
          title="Goal"
          description="Organize complex projects with sub goals, time management, and more!"
          @click="toggleDialog"/>
      </div>
      <div v-else class="pageContentColumn">
        <DraggableList class="pageContentColumn"
                       :array="goalStore.goals">
          <Draggable v-for="elem in goalStore.goals" :dragId="elem.id">
            <WidgetScaffold class="goalItem"
                            @contextmenu="e => onContext(e, elem)">
              <div class="primary">
                <h2>{{elem.title}}</h2>
                <p>{{elem.description}}</p>
              </div>
              <div class="buttons">
                <TextButton text="Delete"
                            @click="() => toggleConfirmation(elem)"></TextButton>
                <TextButton text="Continue" type="primary"
                            @click="router.push({path: `/productivity/overview/${elem.id}`})"></TextButton>
              </div>
            </WidgetScaffold>
          </Draggable>
        </DraggableList>
      </div>
    </div>
    <DailyTasksSidebar task-show="goal"></DailyTasksSidebar>
  </div>
</template>

<style scoped lang="scss">
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 25rem;
    column-gap: 1.5rem;
    width: 100%;
    height: 100%;

    .mainContent {
      height: 100%;
      padding-right: 1.5rem;
      padding-bottom: 5rem;
      overflow-y: scroll;
      mask-image: linear-gradient(#000 90%, transparent 97%);
      -webkit-mask-image: linear-gradient(#000 90%, transparent 97%);
    }
  }

  .pageContentColumn {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    row-gap: 1rem;

    .goalItem {
      padding: 1.25rem 1.25rem;
      display: flex;
      align-items: start;
      justify-content: space-between;

      .buttons {
        display: flex;
        column-gap: 0.5rem;

        h2 {
          margin-top: 0;
        }
      }
    }
  }

  .pageContent {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  @media screen and (max-width: 800px) {
    .pageContent {
      justify-content: stretch;
    }
  }
</style>