<script setup>
  import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";
  import TextButton from "@/Components/Inputs/TextButton.vue";
  import { useDialogStates } from "@/Stores/dialogStates";
  import { useGoalStore } from "@/Stores/goalStore";
  import { GlobalMenuOption, useGlobalMenuStore } from "@/Stores/globalMenuStore";
  import { useSubGoalStore } from "@/Stores/subGoalStore";

  const props = defineProps(["goalId"]);

  const goalStore = useGoalStore();
  const states = useDialogStates();

  function openOverview(goalId) {
    states.push("subGoalOverview", {
      subGoalId: goalId
    });
  }

  function openCreateDialog() {
    states.push("createSubGoal", {
      goalId: props.goalId
    });
  }

  const subGoalStore = useSubGoalStore();
  const globalMenuStore = useGlobalMenuStore();

  function onContext(e, subGoal) {
    globalMenuStore.$patch({
      target: e.target,
      options: [
        new GlobalMenuOption({title: "Delete", callback: () => {
            states.push("confirmation", {
              onConfirm: () => {
                subGoalStore.removeSubGoal(subGoal);
              },
              onCancel: () => {}
            });
          }})
      ]
    })
  }
</script>

<template>
  <WidgetScaffold class="goalOverview">
    <div class="header">
      <div>
        <h2>Overview</h2>
        <p class="subtitle">Create a mockup based on iLoxe's idea of an advanced ToDo integration</p>
      </div>
      <div class="button">
        <TextButton text="Add Subgoal" type="primary" @click="openCreateDialog"></TextButton>
      </div>
    </div>
    <div class="buttons">
      <div class="subgoalButton" v-for="elem in goalStore.getSubGoals(goalId).value"
           :style="`--button-color: ${elem.color}; --percentage: ${subGoalStore.getProgress(elem.id).value}%`"
           @click="() => openOverview(elem.id)"
           @contextmenu="e => onContext(e, elem)">
        <i class="fa-solid fa-chevron-right"></i>
        <p>{{elem.title}}</p>
      </div>
    </div>
  </WidgetScaffold>
</template>

<style scoped lang="scss">
  .goalOverview {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    overflow-y: scroll;
    max-height: 100%;
  }

  .header {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;

    .subtitle {
      max-width: 20rem;
    }
  }

  .taskButton {
    margin-bottom: 0.25rem;
  }
</style>