<script setup>
import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";

defineProps(["title", "description"]);
</script>

<template>
  <WidgetScaffold id="widget">
    <div class="wrapper">
      <h2>{{title}}</h2>
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    <p class="subtitle">{{description}}</p>
    <img src="/Assets/Vectors/undraw_ghost.svg" alt="">
  </WidgetScaffold>
</template>

<style scoped lang="scss">
  #widget {
    cursor: pointer;
    transition: background-color 0.25s;

    &:hover {
      background-color: color-mix(in srgb, var(--primary) 10%, transparent)
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      font-size: 1.2rem;
      color: var(--primary);
    }
  }

  .subtitle {
    max-width: 20rem;
    margin-bottom: 2rem;
  }

</style>