<script setup>
import ComponentScaffold from "@/Components/Widgets/WidgetScaffold.vue";

let note = localStorage.getItem("note");
  function updateStorage(value) {
    localStorage.setItem("note", value.target.value);
  }
</script>

<template>
  <ComponentScaffold class="scaffold">
    <h2 class="widgetTitle">Notes</h2>
    <textarea placeholder="Write your note here" @input="updateStorage">{{note}}</textarea>
  </ComponentScaffold>
</template>

<style scoped lang="scss">
  textarea {
    width: 100%;
    min-width: 10rem;
    max-width: 40rem;
    height: 70%;
    min-height: 2rem;
    max-height: 15rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--secondary);
    font: inherit;
  }
</style>