<script>
import { ref } from "vue";

let quote = ref({
    quote: "",
    author: ""
  });

  fetch("https://api.quotable.io/quotes/random", {
    method: 'GET',
  }).then(response => {
    return response.json();
  }).then(data => {
    quote.value = {
      quote: data[0].content,
      author: data[0].author
    };
  });
</script>

<script setup>
  import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";
</script>

<template>
  <WidgetScaffold class="quoteWidget">
    <h2>{{quote.quote}}</h2>
    <p>{{quote.author}}</p>
  </WidgetScaffold>
</template>

<style scoped lang="scss">
  .quoteWidget {
    max-width: 30rem;

    p {
      margin-top: 0.5rem;
    }
  }
</style>