<script setup>
import ComponentScaffold from "@/Components/Widgets/WidgetScaffold.vue";
import TextButton from "@/Components/Inputs/TextButton.vue";
import { ref } from "vue";

let passedTime = ref(0);
  let hours = ref("00");
  let minutes = ref("00");
  let seconds = ref("00");

  let interval;
  function startCounter() {
    stopCounter();

    passedTime.value = 0;
    interval = setInterval(() => {
      passedTime.value += 1;
      hours.value = Math.floor(passedTime.value / 60 / 60).toString().padStart(2, '0');
      minutes.value = Math.floor((passedTime.value / 60) % 60).toString().padStart(2, '0');
      seconds.value = Math.floor(passedTime.value % 60).toString().padStart(2, '0');
    }, 1000)
  }

  function stopCounter() {
    clearInterval(interval);
  }
</script>

<template>
  <ComponentScaffold class="weatherWidget">
    <div class="content">
      <h2 class="widgetTitle">{{hours}}:{{minutes}}:{{seconds}}</h2>
      <p class="subtitle">spent on your current task</p>
    </div>
    <div class="buttons">
      <TextButton text="New Task" type="primary"
                  @click="startCounter"></TextButton>
      <TextButton text="Done" type=""
                  @click="stopCounter"
                  v-if="passedTime !== 0"></TextButton>
    </div>
  </ComponentScaffold>
</template>

<style scoped lang="scss">
  .weatherWidget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .buttons {
      margin-top: 1.25rem;
    }
  }
</style>