<script setup>
import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";
import TaskButton from "@/Components/TaskButton.vue";
import { useProductivityStore } from "@/productivityStore";

defineProps(["goalId"]);
  const store = useProductivityStore();

  function updateTask(task) {
    store.updateTask(task);
  }
</script>

<template>
  <WidgetScaffold class="wrapper">
    <div class="today">
      <div class="header">
        <div>
          <h2>Today</h2>
          <p class="subtitle">Your tasks for today</p>
        </div>
      </div>
      <div class="content">
        <TaskButton v-for="elem in store.getTasksByGoal(goalId).filter(data => !data.checked)"
                    :taskData="elem"
                    :color="store.subGoals.find(subgoal => subgoal.id === elem.parentId).color"
                    @click="elem.checked = !elem.checked; updateTask(elem)"></TaskButton>
      </div>
    </div>
    <div class="done">
      <div class="header">
        <div>
          <h2>Done</h2>
          <p class="subtitle">Tasks you finished today</p>
        </div>
      </div>
      <div class="content">
        <TaskButton v-for="elem in store.getTasksByGoal(goalId).filter(data => data.checked)"
                    :taskData="elem"
                    :color="store.subGoals.find(subgoal => subgoal.id === elem.parentId).color"
                    @click="elem.checked = !elem.checked; updateTask(elem)"></TaskButton>
      </div>
    </div>
  </WidgetScaffold>
</template>

<style scoped lang="scss">
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 50%;
  }

  .header {
    display: flex;
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: start;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    min-width: 20rem;
    max-width: 30rem;
  }
</style>