<script setup>
import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";
</script>

<template>
  <WidgetScaffold>
    <div class="sun"></div>
    <h2>20°</h2>
    <p class="subtitle">Mostly sunny</p>
    <p>22°/10°</p>
  </WidgetScaffold>
</template>

<style scoped lang="scss">
  @keyframes sun {
    0% {
      transform:  scale(1);
    }

    50% {
      transform:  scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .componentScaffold {
    width: 20rem;
    background-color: #45341E;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .sun {
      background-color: #FFAE35;
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      position: absolute;
      right: -0.75rem;
      top: -0.75rem;

      &::after,
      &::before{
        content: '';
        position: absolute;
        top: -1rem;
        right: -1rem;
        border-radius: 100%;
        z-index: -1;
      }

      &::after {
        background-color: #8D6426;
        width: 150%;
        height: 150%;
        animation: sun 4s infinite;
      }

      &::before {
        width: 175%;
        height: 175%;
        background-color: #574020;
        animation: sun 4s 0.25s infinite;
      }
    }
  }
</style>