<script setup>
</script>

<template>
  <div class="componentScaffold">
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
  .componentScaffold {
    display: inline-block;
    background-color: var(--secondary-background);
    max-width: 100%;
    padding: 1.75rem;
    border-radius: 0.9rem;
  }

  :slotted(h2) {
    margin-top: -0.3rem
  }

  :slotted(p) {
    color: var(--secondary);
    font-size: 1.1rem;
    font-weight: 500;
  }
</style>