<script setup>
import TaskWidget from "@/Components/Widgets/TaskWidget.vue";
import NoteWidget from "@/Components/Widgets/NoteWidget.vue";
import QuoteWidget from "@/Components/Widgets/QuoteWidget.vue";
import WeatherWidget from "@/Components/Widgets/WeatherWidget.vue";

const date = new Date();
  const subtitle = `${date.toDateString()}`
</script>

<template>
  <div class="wrapper">
    <h1>Good Afternoon Manuel</h1>
    <p class="pageSubtitle">{{subtitle}}</p>

    <div class="components">
      <TaskWidget></TaskWidget>
      <NoteWidget></NoteWidget>
      <QuoteWidget></QuoteWidget>
      <WeatherWidget></WeatherWidget>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .wrapper {
    width: 100%;

    .components {
      margin-top: 2rem;
      margin-right: var(--page-padding);
      display: flex;
      grid-gap: 1.5rem;
      flex-flow: row wrap;
    }
  }
</style>