<script setup>
import ThemeManager from "@/themeManager";
import WidgetScaffold from "@/Components/Widgets/WidgetScaffold.vue";
import TextButton from "@/Components/Inputs/TextButton.vue";
import { useGoalStore } from "@/Stores/goalStore";
import { useSubGoalStore } from "@/Stores/subGoalStore";
import { useTaskStore } from "@/Stores/taskStore";

async function removeOrphans() {
    const goalStore = useGoalStore(),
          subGoalStore = useSubGoalStore(),
          taskStore = useTaskStore();

    let toBeRemoved = [];

    taskStore.tasks.forEach(task => {
      if (taskStore.getGoal(task) === undefined) {
        toBeRemoved.push(task.title);
        taskStore.removeTask(task);
      }
    });

    subGoalStore.subGoals.forEach(subGoal => {
      if (goalStore.getById(subGoal.parentId) === undefined) {
        toBeRemoved.push(subGoal.title);
        subGoalStore.removeSubGoal(subGoal);
      }
    });

    if (toBeRemoved.length === 0) {
      console.log("No orphans detected :D");
    } else {
      console.log(`Removed orphans (${toBeRemoved.length}): ${toBeRemoved.join(", ")}`);
    }
  }
</script>

<template>
  <h1>Settings</h1>
  <p class="pageSubtitle">Version 0.1</p>
  <div class="pageContent">
    <WidgetScaffold>
      <h2>Themes</h2>
      <p class="subtitle">Customize the look to your liking!</p>
      <img src="/Assets/Themes/teal.svg" alt="Teal Theme"
           @click="() => ThemeManager.updateTheme('purple')">
      <img src="/Assets/Themes/purple.svg" alt="Purple Theme"
           @click="() => ThemeManager.updateTheme('dusk')">
    </WidgetScaffold>
    <WidgetScaffold>
      <h2>Developer Tools</h2>
      <TextButton text="Remove Orphans" type="primary" @click="removeOrphans"></TextButton>
    </WidgetScaffold>
  </div>
</template>

<style scoped lang="scss">
  .pageContent {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  img {
    cursor: pointer;
    margin-right: 1rem;
  }
</style>