<script setup>
import { dayComparator } from "@/utils";
import { computed, ref, watch } from "vue";

const props = defineProps({
    selectedDate: {
      type: Date,
      default: new Date(0, 0 )
    }
  });
  defineEmits(["selected"]);

  const dayNames = ["Mon", "Tue", "Wen", "Thu", "Fri", "Sat", "Sun"];
  let days = [];

  const today = ref(props.selectedDate),
        todayYear = computed(() => today.value.getFullYear()),
        todayMonth = computed(() => today.value.getMonth());

  let firstDay,
      lastDay,
      lastDate,
      lastDatePrev;

  // Runs immediately and whenever the current date ("today") changes
  watch(today, () => {
    firstDay = new Date(todayYear.value, todayMonth.value, 1).getDay(); // Weekday 0-6
    lastDay = new Date(todayYear.value, todayMonth.value + 1, 0).getDay(); // Weekday 0-6
    lastDate = new Date(todayYear.value, todayMonth.value + 1, 0).getDate(); // Date 1-31
    lastDatePrev = new Date(todayYear.value, todayMonth.value, 0).getDate(); // Date 1-31

    days = [];
    for (let i=lastDatePrev-firstDay+2; i<=lastDatePrev; i++) {
      let date = new Date(todayYear.value, todayMonth.value-1, i);
      days.push(date);
    }

    for (let i=1; i<=lastDate; i++) {
      let date = new Date(todayYear.value, todayMonth.value, i);
      days.push(date);
    }

    for (let i=1; i<=7-lastDay; i++) {
      let date = new Date(todayYear.value, todayMonth.value+1, i);
      days.push(date);
    }
  }, {immediate: true})

  function decrement() {
    today.value.setMonth(today.value.getMonth()-1);
    today.value = new Date(today.value);
  }
  function increment() {
    today.value.setMonth(today.value.getMonth()+1);
    today.value = new Date(today.value);
  }

  // TODO: There are some bugs remaining
</script>

<template>
  <div class="calendar">
    <div class="header">
      <h2>{{today.toLocaleDateString('default', {month: "long", year: "numeric"})}}</h2>
      <div class="buttons">
        <div class="button" @click="decrement">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="button" @click="increment">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="names">
        <p class="dayName" v-for="day in dayNames">{{day}}</p>
      </div>
      <div class="days">
        <div class="day" :class="{
          secondary: date.getMonth() !== todayMonth,
          today: dayComparator(new Date(), date) === 0,
          selected: dayComparator(selectedDate, date) === 0
        }" v-for="date in days" @click="$emit('selected', date)">
          <p>{{date.getDate()}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .calendar {
    width: 100%;

    .header {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: var(--accent);
        }

        &:first-child {
          margin-right: 1rem;
        }

        i {
          font-size: 1.25rem;
        }
      }
    }

    .content {
      .names {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        margin-bottom: 0.5rem;
      }

      .days {
        display: grid;
        grid-template-columns: repeat(7, 3rem);
        grid-auto-rows: 3rem;
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        border-radius: 100%;

        .day {
          width: 100%;
          height: 100%;
          cursor: pointer;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          &.today {
            border: 3px solid var(--accent);
          }

          &.selected {
            background-color: var(--accent);
            transition: opacity 0.25s;

            &:hover {
              opacity: 0.75;
            }
          }

          &.secondary {
            opacity: 0.5;
          }

          &:hover {
            background-color: var(--accent);
          }
        }
      }
    }
  }
</style>