<script setup>
import TaskButton from "@/Components/TaskButton.vue";
import { dateToString } from "@/utils";
import Draggable from "@/Components/DraggableList/Draggable.vue";
import DraggableList from "@/Components/DraggableList/DraggableList.vue";
import { useTaskStore } from "@/Stores/taskStore";
import { useSubGoalStore } from "@/Stores/subGoalStore";

const props = defineProps({
    taskShow: {
      type: String,
      default: 'subGoal'
    },
    filter: {
      type: Function,
      default: () => true,
    }
  });

  const taskStore = useTaskStore(),
        subGoalStore = useSubGoalStore();
  const date = dateToString(new Date());

  function todoFilter(elem) {
    return !elem.checked && props.filter(elem);
  }

  function progressFilter(elem) {
    return elem.checked && props.filter(elem);
  }
</script>

<template>
  <div class="sidebar">
    <div class="scrollWrapper">
      <h2>Daily Tasks - {{date}}</h2>
      <DraggableList class="sidebarContent"
                     v-bind:array="taskStore.tasks"
                     @reorder="taskStore.moveElement($event.oldIndex, $event.newIndex)">
        <Draggable v-for="elem in taskStore.today.filter(todoFilter)"
                   :dragId="elem.id">
          <TaskButton
              :taskData="elem"
              :key="elem.id"
              :color="subGoalStore.getById(elem.parentId).color"
              :show="taskShow"
              @click="elem.checked = !elem.checked; taskStore.updateTask(elem);"></TaskButton>
        </Draggable>
      </DraggableList>
      <div class="ghostContainer" v-show="taskStore.today.filter(todoFilter).length === 0">
        <div class="oscillationWrapper">
          <div class="animationWrapper">
            <img src="/Assets/Vectors/undraw_ghost.svg" alt="">
            <img src="/Assets/Vectors/undraw_chat-text.svg" alt="" class="bubble">
          </div>
        </div>
      </div>
      <h2 class="progress">Progress - {{date}}</h2>
      <div class="sidebarContent">
        <TaskButton v-for="elem in taskStore.today.filter(progressFilter)"
                    :taskData="elem"
                    :key="elem.id"
                    :color="subGoalStore.getById(elem.parentId).color"
                    :show="taskShow"
                    @click="elem.checked = !elem.checked; taskStore.updateTask(elem);"></TaskButton>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .sidebar {
    background-color: var(--secondary-background);
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: var(--page-padding);
    overflow: hidden;
    position: relative;

    .scrollWrapper {
      padding: 1rem 0.5rem 3rem 1rem;
      height: 100%;
      overflow-y: scroll;

      .ghostContainer {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @keyframes left-right {
          0% {
            transform: translateX(-75%);
          }

          50% {
            transform: translateX(75%);
          }

          100% {
            transform: translateX(-75%);
          }
        }

        @keyframes oscillating {
          0% {
            transform: translateY(-10%);
          }

          50% {
            transform: translateY(10%);
          }

          100% {
            transform: translateY(-10%);
          }
        }

        .oscillationWrapper {
          animation: oscillating 2s infinite;
          animation-timing-function: ease-in-out;

          .animationWrapper {
            animation: left-right 6s infinite;
            animation-timing-function: ease-in-out;
            display: flex;
            align-items: start;
            position: relative;
            cursor: pointer;

            .bubble {
              width: 1.5rem;
            }

            &:hover {
              &::after {
                width: 110%;
                position: absolute;
                content: "No tasks";
                display: flex;
                color: var(--secondary-background);
                background-color: var(--primary);
                padding: 0.25rem;
                border-radius: 0.5rem;
                justify-content: center;
                align-items: center;
                transform: translateX(100%);
              }
            }
          }
        }
      }

      h2 {
        margin-bottom: 1rem;

        &.progress {
          margin-top: 1rem;
        }
      }

      .sidebarContent {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
      }
    }
  }
</style>