<script setup>
  defineProps(["title"]);
  defineEmits(["close"]);
</script>

<template>
  <div class="errorBanner">
    <p>{{title}}</p>
    <i class="fa-regular fa-circle-xmark"
       @click="$emit('close')"></i>
  </div>
</template>

<style scoped lang="scss">
  .errorBanner {
    padding: 0.75rem 1rem;
    background-color: var(--negative);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
</style>