<script setup>
import { ref, watch } from "vue";
import { useGlobalMenuStore } from "@/Stores/globalMenuStore";

const globalMenuStore = useGlobalMenuStore();
  const show = ref(false);
  const globalMenu = ref(null);
  const secondaryMenu = ref(null);
  const showSecondary = ref(false);
  const secondaryMenuOptions = ref([]);

  watch(show, () => {
    if (show.value === false) {
      showSecondary.value = false;
    }
  });

  document.addEventListener("mousedown", (e) => {
    if (e.button === 0
      && !globalMenu.value.contains(e.target)
      && !secondaryMenu.value.contains(e.target)
    ) {
      show.value = false;
    }
  });

  document.addEventListener("contextmenu", async (e) => {
    e.preventDefault();

    if (e.target !== globalMenuStore.target) {
      globalMenuStore.$reset();
    }

    show.value = true;
    showSecondary.value = false;

    const rect = globalMenu.value.getBoundingClientRect();

    if (window.innerHeight - e.y < rect.height) {
      globalMenu.value.style.top = `${window.innerHeight - rect.height}px`;
    } else {
      globalMenu.value.style.top = `${e.y}px`;
    }

    if (window.innerWidth - e.x < 250) {
      globalMenu.value.style.left = `${e.x - 250}px`;
    } else {
      globalMenu.value.style.left = `${e.x }px`;
    }

    return false;
  });

  function initSecondary(options) {
    secondaryMenuOptions.value = options;

    const rect = globalMenu.value.getBoundingClientRect();

    if (window.innerWidth - rect.right < 260) {
      secondaryMenu.value.style.left = `${rect.x - 260}px`;
    } else {
      secondaryMenu.value.style.left = `${rect.x + rect.width + 10}px`;
    }

    const secondaryRect = secondaryMenu.value.getBoundingClientRect();

    if (window.innerHeight - rect.y < secondaryRect.height) {
      secondaryMenu.value.style.top = `${window.innerHeight - secondaryRect.height}px`;
    } else {
      secondaryMenu.value.style.top = `${rect.y}px`;
    }

    showSecondary.value = true;
  }

  globalMenuStore.$subscribe((mutation, state) => {
    console.log(state.options);
  });
</script>

<template>
  <div ref="globalMenu" :class="['globalMenu', {visible: show}]">
    <h2>Quick Actions</h2>
    <div v-for="option in globalMenuStore.options.filter(elem => elem.hoverOptions.length === 0)"
         class="option"
         @click="option.callback(); show = false;"
         @mouseenter="showSecondary = false">
      <p>{{option.title}}</p>
    </div>
    <div v-for="option in globalMenuStore.options.filter(elem => elem.hoverOptions.length !== 0)"
         class="option"
         @mouseenter="initSecondary(option.hoverOptions)"
         @mouseleave="showSecondary = true">
      <p>{{option.title}}</p>
    </div>
  </div>
  <div ref="secondaryMenu" :class="['secondaryMenu', {visible: showSecondary}]">
    <div v-for="option in secondaryMenuOptions"
         class="option"
         @click="option.callback(); show = false;">
      <p>{{option.title}}</p>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .globalMenu, .secondaryMenu {
    position: fixed;
    z-index: 100;
    background-color: var(--secondary-background);
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    width: 250px;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    h2 + div {
      margin-top: 0.5rem;
    }

    .option {
      width: 100%;
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 0.5rem;

      p {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }

      &:hover {
        background-color: var(--accent);
      }
    }
  }
</style>