<script setup>
import contrast from "contrast";
import { dateToString } from "@/utils";
import { onMounted, onUpdated, ref, toRaw } from "vue";
import { useDialogStates } from "@/Stores/dialogStates";
import { GlobalMenuOption, useGlobalMenuStore } from "@/Stores/globalMenuStore";
import { useTaskStore } from "@/Stores/taskStore";
import { useSubGoalStore } from "@/Stores/subGoalStore";
import { useGoalStore } from "@/Stores/goalStore";

const props = defineProps({
    "taskData": {},
    "color": {type: String},
    "show": {type: String, default: "subGoal", validator(value) {
      return ["subGoal", "goal", ""].includes(value);
    }}
  });
  defineEmits(["click"]);

  const taskStore = useTaskStore(),
        subGoalStore = useSubGoalStore();
  const states = useDialogStates();

  const open = ref(false);
  const textArea = ref(null);
  let textColor = contrast(props.color) === 'light' ? "#2a2a2a" : "#e1e1e1";

  onMounted(adaptHeight);
  onUpdated(adaptHeight);
  function adaptHeight() {
    textArea.value.style.height = "";
    textArea.value.style.height = `${textArea.value.scrollHeight}px`;
  }
  function onInput() {
    adaptHeight();
    props.taskData.title = textArea.value.value;
    taskStore.updateTask(props.taskData);
  }

  function remove() {
    if (textArea.value.value === "") {
      taskStore.removeTask(toRaw(props.taskData));
    }
  }

  function openDialog() {
    states.push("createTask", {
      title: props.taskData.title,
      currentId: props.taskData.id,
      subGoalId: props.taskData.parentId,
      goalId: subGoalStore.getById(props.taskData.parentId).parentId
    });
  }

  const globalMenuStore = useGlobalMenuStore();

  function onContext(e) {
    globalMenuStore.$patch({
      target: e.target,
      options: [
        new GlobalMenuOption({
          title: props.taskData.scrapped ? "Restore ToDo" : "Scrap ToDo",
          callback: () => {
            props.taskData.scrapped = !props.taskData.scrapped;
            taskStore.updateTask(props.taskData);
          }
        }),
        new GlobalMenuOption({title: "Delete", callback: () => {
          states.push("confirmation", {
            onConfirm: () => {
              taskStore.removeTask(props.taskData);
            },
            onCancel: () => {}
          });
        }})
      ]
    });
  }
</script>

<template>
  <div class="buttonWrapper" :class="{'open': open}" :style="`--button-color: ${color}; --text-color: ${textColor}`"
       @click="open = !open"
       @contextmenu="onContext">
    <div class="taskButton"
         :class="{checked: taskData.checked, scrapped: taskData.scrapped}">
      <i class="checkmark fa-regular" :class="{
          'fa-circle-check': taskData.checked,
          'fa-circle': !taskData.checked
      }" @click.stop="$emit('click')"></i>
      <div>
        <textarea rows="1" ref="textArea" class="unstyled"
                  @input="onInput"
                  @keydown.enter="remove"
                  @click.stop="" @mousedown.stop="">{{taskData.title}}</textarea>
        <p v-if="show === 'subGoal'">
          {{subGoalStore.getById(taskData.parentId).title}}
          <span v-if="taskData.scrapped">Scrapped</span>
        </p>
        <p v-if="show === 'goal'">
          {{taskStore.getGoal(taskData).title}}
          <span v-if="taskData.scrapped">Scrapped</span>
        </p>
      </div>
      <i class="chevron fa-solid fa-chevron-down"></i>
    </div>
    <div class="collapsedInfo">
      <div class="fixedWrapper">
        <div>
          <i class="fa-regular fa-calendar"></i>
          <p>Due: {{dateToString(taskData.dueDate)}}</p>
        </div>
        <div>
          <p class="edit" @click="openDialog">Edit</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .buttonWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: color-mix(in srgb, var(--button-color), transparent 25%);
    border-radius: 0.5rem;

    &.open {
      .collapsedInfo {
        height: 2.5rem;
        opacity: 0.8;
      }

      .chevron {
        transform: rotateZ(180deg);
      }
    }

    & > .collapsedInfo {
      opacity: 0;
      height: 0;
      overflow: hidden;
      border-radius: 0 0 0.5rem 0.5rem;
      transition: height 0.25s, opacity 0.25s;

      .fixedWrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0.5rem 1rem;
        row-gap: 0.4rem;

        div {
          display: flex;
          align-items: center;
          column-gap: 0.75rem;

          i {
            font-size: 1.2rem;
          }

          p {
            color: var(--text-color);
            font-size: 1rem;
          }

          .edit {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    & > .taskButton {
      border-radius: 0.5rem;
      background-color: var(--button-color);
      padding: 0.65rem 0.65rem;
      cursor: pointer;
      display: flex;
      align-items: start;
      transition: opacity 0.25s;
      min-width: 20rem;
      width: 100%;
      white-space: pre-wrap;
      word-break: break-word;

      &.checked {
        opacity: 0.5;
        textarea {
          text-decoration: line-through;
        }
      }

      p {
        font-size: 1rem;

        span {
          padding: 0.15rem 0.5rem;
          background-color: var(--negative);
          border-radius: 0.3rem;
        }
      }

      div {
        width: 100%;

        textarea {
          background-color: transparent;
          color: var(--text-color);
          width: 100%;
          resize: none;
          min-height: 0;
        }
      }

      .checkmark {
        font-size: 1.4rem;
        color: var(--text-color);
        margin-top: 0.1rem;
        margin-right: 0.75rem;
      }

      .chevron {
        font-size: 1.1rem;
        padding: 0.3rem;
        transition: transform 0.25s;
      }
    }
  }
</style>