<script setup>
import MenuButton from "@/Components/Inputs/MenuButton.vue";
import { useRouter } from "vue-router";
import TextInput from "@/Components/Inputs/TextInput.vue";
import { useDialogStates } from "@/Stores/dialogStates";
import { ref } from "vue";

const states = useDialogStates();
  const router = useRouter();

  // 0: Add Goal, 1: Go Back
  const actionButtonType = ref(0);

  router.afterEach((to, from) => {
    if (to.path === "/productivity") {
      actionButtonType.value = 0;
    } else if (to.path.startsWith("/productivity/overview")) {
      actionButtonType.value = 1;
    } else {
      actionButtonType.value = 0;
    }
  });

  function buttonAction() {
    if (router.currentRoute.value.path === "/productivity") {
      states.push("createGoal", {});
    } else if (router.currentRoute.value.path.startsWith("/productivity/overview")) {
      router.back();
    }
  }
</script>

<template>
  <div class="wrapper">
    <MenuButton class="menuButton"></MenuButton>
    <div class="actionButton" @click="buttonAction">
      <p>{{actionButtonType === 0 ? "Add Goal" : "Go Back"}}</p>
      <i :class="['fa-solid', actionButtonType === 0 ? 'fa-plus' : 'fa-arrow-left']"></i>
    </div>
    <div class="end">
      <TextInput placeholder="Search..." value="" style-class="search"></TextInput>
      <img src="/Assets/Miscellaneous/profile.jpg" alt="Profile">
    </div>
  </div>
</template>

<style scoped lang="scss">
  .wrapper {
    margin-top: calc(var(--page-padding) * 1.75);
    width: calc(100% - var(--page-padding));
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .menuButton {
      display: none;
    }

    .actionButton {
      background-color: var(--secondary-background);
      border-radius: 10rem;
      padding: 0.9rem 1.2rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: color-mix(in srgb, var(--secondary-background) 75%, transparent);
      }

      & > * {
        display: inline;
      }

      & > i {
        margin-left: 1rem;
      }
    }

    .end {
      display: flex;
      align-items: center;

      :deep(.search) {
        width: 20rem;
        background-color: var(--secondary-background);
        margin-right: 2rem;
        border: none;
        border-radius: 10rem;
        padding: 0.9rem 1.5rem;
      }

      img {
        border-radius: 100%;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .wrapper {
      width: 100%;
      margin-top: var(--page-padding);
      padding: 0 var(--page-padding);

      .menuButton {
        display: flex;
      }
    }
  }
</style>