.ct-label {
  color: #fff !important;
  font-size: 0.75rem !important;
  line-height: 1 !important;
}

.ct-line, .ct-point {
  stroke: #fff !important;
}

.ct-grid {
  stroke: rgba(255, 255, 255, 0.5) !important;
}