:root {
  --primary: #F5F0F6;
  --secondary: rgba(245, 240, 246, 0.6);
  --background: #070607;
  --secondary-background: #1a191a;
  --accent: #29A38D;
  --negative: #ffffff;
  --page-padding: 2rem;
  --background-image: "Backgrounds/dusk.jpg";
  --dialog-size: 25rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.25s, color 0.25s; }
  *::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    border-radius: 10rem; }
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10rem; }
    *::-webkit-scrollbar-thumb:hover {
      background-color: var(--primary); }

html {
  font-family: 'Outfit', sans-serif; }

body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: var(--background);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center; }

#app {
  max-height: 100%; }

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--primary);
  line-height: 3.2rem;
  max-width: 30rem; }

h2 {
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--primary);
  line-height: 2rem; }

p {
  color: var(--secondary);
  font-size: 1.1rem;
  font-weight: 500; }

input, textarea {
  color: var(--secondary);
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 500; }
  input.unstyled, textarea.unstyled {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none; }

.pageSubtitle {
  margin-top: 0.75rem;
  margin-bottom: 2rem; }

.subtitle {
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

i {
  color: var(--secondary);
  display: inline; }

.dynamicGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 3rem);
  grid-auto-rows: 3rem;
  gap: 1rem; }

.subgoalButton {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.65rem 1.3rem;
  background-color: color-mix(in srgb, var(--button-color) 60%, #000);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .subgoalButton::after {
    position: absolute;
    z-index: -1;
    border-radius: 0.5rem;
    left: 0;
    top: 0;
    content: '';
    display: block;
    transform-origin: left;
    width: var(--percentage);
    height: 100%;
    background-color: var(--button-color);
    transition: width 0.5s; }
  .subgoalButton p {
    display: inline;
    margin-left: 0.75rem; }
  .subgoalButton .checkmark {
    font-size: 1.25rem; }

/*# sourceMappingURL=style.css.map */
