<script setup>
import { useRouter } from "vue-router";
import { computed } from "vue";

const props = defineProps(["title", "icon", "route", "collapsed"])
  const router = useRouter();

  const isActive = computed(() => {
    return router.currentRoute.value.path.startsWith(props.route);
  });
</script>

<template>
  <div class="navigationEntry" :class="{collapsed: collapsed, active: isActive}"
       @click="router.push(route)">
    <i :class="['fa-solid', icon]"></i>
    <p>{{title}}</p>
  </div>
</template>

<style scoped lang="scss">
  .navigationEntry {
    padding: 0.9rem 1.5rem;
    background-color: transparent;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    transition: background-color 0.25s, padding 0.25s;
    cursor: pointer;

    &.active {
      background-color: var(--accent);
      color: var(--background);

      &:hover {
        background-color: color-mix(in srgb, var(--accent) 80%, transparent)
      }

      p {
        color: var(--background);
      }

      i {
        color: var(--background);
      }
    }

    &:hover {
      background-color: color-mix(in srgb, var(--primary) 10%, transparent)
    }

    &.collapsed {
      padding: 0.75rem 0.5rem;

      p {
        width: 0;
        opacity: 0;
        padding-left: 0;
        transition: width 0.2s, opacity 0.2s, padding 0s 0.2s;
      }
    }

    p {
      width: 100%;
      color: var(--primary);
      padding-left: 0.6rem;
      font-size: 1.1rem;
      font-weight: 600;
      transition: width 0.2s 0.15s, opacity 0.2s 0.15s, color 0.25s;
    }

    i {
      color: var(--primary);
    }
  }
</style>