<script setup>
import NavigationEntry from "@/Components/Sidebar/NavigationEntry.vue";
import { ref } from "vue";
import MenuButton from "@/Components/Inputs/MenuButton.vue";

let collapsed = ref(false);
</script>

<template>
  <div :class="{ collapsed: collapsed }" class="sidebar">
    <div class="header">
      <img alt="" class="logo" src="/Assets/Vectors/logo.svg" />
      <MenuButton @click="collapsed = !collapsed"></MenuButton>
    </div>
    <div class="separator"></div>
    <NavigationEntry
      route="/productivity"
      title="Productivity"
      icon="fa-briefcase"
      v-bind:collapsed="collapsed"></NavigationEntry>
    <NavigationEntry
      route="/settings"
      title="Settings"
      icon="fa-gears"
      v-bind:collapsed="collapsed"></NavigationEntry>
<!--    <NavigationEntry
      route="/overview"
      title="Overview"
      v-bind:collapsed="collapsed"></NavigationEntry>-->
  </div>
</template>

<style lang="scss" scoped>
  .sidebar {
    height: calc(100vh - var(--page-padding) * 2);
    margin: var(--page-padding);
    margin-right: 0;
    padding: 1.5rem;
    width: 19rem;
    border-radius: 2rem;
    background-color: var(--secondary-background);
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &.collapsed {
      width: 5rem;

      .separator {
        margin: 1.3rem 0;
        width: 100%;
      }

      .logo {
        opacity: 0;
        width: 0 !important;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;

      .logo {
        width: 2rem;
        transition:
          opacity 0.2s,
          width 0.2s;
      }
    }

    .separator {
      margin: 1.3rem 0.5rem;
      height: 2px;
      width: auto;
      background-color: var(--primary);
      opacity: 0.1;
    }
  }
</style>
