<script setup>
import { inject } from "vue";

defineProps(["title", "id"]);

  const activeTab = inject("activeTab")
</script>

<template>
  <keep-alive>
    <div class="content" v-if="activeTab === id">
      <slot></slot>
    </div>
  </keep-alive>
</template>

<style scoped lang="scss">

</style>