<script setup>
import { onMounted, provide, ref, useSlots } from "vue";

const slots = useSlots();
  const defaultSlot = slots.default();
  const activeTab = ref(defaultSlot[0].props.id);

  provide('activeTab', activeTab);

  onMounted(() => {
    const tabs = document.querySelectorAll(".tabView .header .tab");
    tabs.forEach(tab => {
      tab.addEventListener("mousedown", () => {
        tab.style.transform = 'scale(0.9)';
      });
      tab.addEventListener("mouseup", () => {
        tab.style.transform = 'scale(1.0)';
      });
      tab.addEventListener("mouseleave", () => {
        tab.style.transform = 'scale(1.0)';
      })
    })
  })
</script>

<template>
  <div class="tabView">
    <div class="header">
      <div class="tab" :class="{'active': activeTab === tab.props.id}"
           v-for="tab in defaultSlot"
           @click="activeTab = tab.props.id">
        <p>{{tab.props.title}}</p>
      </div>
    </div>
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .tabView {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .header {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      margin-bottom: 1rem;

      .tab {
        padding: 0.75rem 1.75rem;
        background-color: var(--secondary-background);
        border-radius: 0.75rem;
        cursor: pointer;
        transition: transform 0.15s;

        &.active {
          background-color: var(--accent);

          p {
            color: var(--background);
          }
        }

        p {
          color: var(--primary);
          font-size: 1.2rem;
        }
      }
    }
  }
</style>