<script setup>
import Sidebar from "@/Components/Sidebar/Sidebar.vue";
import TopBar from "@/Components/TopBar.vue";
import DialogCreateGoal from "@/Components/Dialogs/DialogCreateGoal.vue";
import DialogConfirmation from "@/Components/Dialogs/DialogConfirmation.vue";
import DialogSubGoalOverview from "@/Components/Dialogs/DialogSubGoalOverview.vue";
import DialogCreateTask from "@/Components/Dialogs/DialogCreateTask.vue";
import DialogDatePicker from "@/Components/Dialogs/DialogDatePicker.vue";
import DialogColorPicker from "@/Components/Dialogs/DialogColorPicker.vue";
import DialogCreateSubGoal from "@/Components/Dialogs/DialogCreateSubGoal.vue";
import GlobalMenu from "@/Components/GlobalMenu.vue";
import { init } from "@/main";
</script>

<template>
  <suspense>
    <div class="dialogs">
      <DialogCreateGoal></DialogCreateGoal>
      <DialogCreateSubGoal></DialogCreateSubGoal>
      <DialogConfirmation></DialogConfirmation>
      <DialogSubGoalOverview></DialogSubGoalOverview>
      <DialogCreateTask></DialogCreateTask>
      <DialogDatePicker></DialogDatePicker>
      <DialogColorPicker></DialogColorPicker>

      <GlobalMenu></GlobalMenu>
    </div>
  </suspense>
  <div class="page" v-if="init === true">
    <Sidebar class="area-sidebar"></Sidebar>
    <TopBar class="area-topbar"></TopBar>
    <div class="area-page">
      <suspense>
        <router-view></router-view>
      </suspense>
    </div>
  </div>
  <div class="div" v-else></div>
</template>

<style scoped lang="scss">
  .div {
    width: 100vw;
    height: 100vh;
    background-color: red;
  }

  .page {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "area-sidebar area-topbar"
      "area-sidebar area-page";
    grid-gap: 2rem calc(var(--page-padding));
    max-height: 100vh;

    .area-page {
      grid-area: area-page;
      overflow-y: hidden;
      margin-right: var(--page-padding);
    }

    .area-sidebar {
      grid-area: area-sidebar;
    }

    .area-topbar {
      grid-area: area-topbar;
    }
  }

  @media screen and (max-width: 800px) {
    .page {
      grid-template-areas:
        ". area-topbar"
        ". area-page";
      grid-gap: 2rem 0;

      .area-page {
        margin: var(--page-padding);
      }

      .area-sidebar {
        display: none;
      }
    }
  }
</style>
