<script setup>
  defineProps(["class"]);
  const emits = defineEmits(["close"]);

  document.addEventListener("keydown", e => {
    if (e.key === "Escape") emits("close");
  })
</script>

<template>
  <div class="dialog">
    <div class="background" @click="$emit('close')"></div>
    <div class="content" :class="$props.class">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped lang="scss">
  :slotted(.dialogContent) {
    margin: 1.5rem 0;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .dialog {
    //opacity: 0;
    //animation: appear 0.15s forwards;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &.closed {
      display: none;
    }

    .background {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: -1;
    }

    .content {
      border-radius: 1rem;
      padding: 1.5rem;
      border: var(--accent) 2px solid;
      background-color: var(--secondary-background);
    }
  }
</style>