<script setup>
import Dialog from "@/Components/Dialogs/Dialog.vue";
import { useDialogStates } from "@/Stores/dialogStates";
import TextButton from "@/Components/Inputs/TextButton.vue";

const states = useDialogStates();

  function confirm() {
    states.confirmation.onConfirm();
    states.pop();
  }

  function cancel() {
    states.confirmation.onCancel();
    states.pop();
  }

  /*onkeydown = e => {
    if (e.key === "Enter") confirm();
  }*/
</script>

<template>
  <Dialog class="confirmationDialog"
          v-if="states.confirmation.visible"
          @close="cancel">
    <h2>Are you sure?</h2>
    <p>This action cannot be undone</p>
    <div class="buttons">
      <TextButton text="Confirm" @click="confirm" type="negative"></TextButton>
      <TextButton text="Cancel" @click="cancel"></TextButton>
    </div>
  </Dialog>
</template>

<style scoped lang="scss">
  .buttons {
    margin-top: 1rem;
    display: flex;
    column-gap: 0.5rem;
  }
</style>