<script setup>
import Dialog from "@/Components/Dialogs/Dialog.vue";
import { useDialogStates } from "@/Stores/dialogStates";
import Calendar from "@/Components/Calendar.vue";

const states = useDialogStates();

  function returnDate(date) {
    states.datePicker.onSelected(date);
    states.pop();
  }

  function cancel() {
    states.datePicker.onCancel();
    states.pop();
  }
</script>

<template>
  <Dialog v-if="states.datePicker.visible"
          @close="cancel">
    <div class="content">
      <Calendar :selected-date="states.datePicker.date"
                @selected="returnDate"></Calendar>
    </div>
  </Dialog>
</template>

<style scoped lang="scss">

</style>