<script setup>
  import Dialog from "@/Components/Dialogs/Dialog.vue";
  import TaskButton from "@/Components/TaskButton.vue";
  import TextButton from "@/Components/Inputs/TextButton.vue";
  import { useDialogStates } from "@/Stores/dialogStates";
  import DraggableList from "@/Components/DraggableList/DraggableList.vue";
  import Draggable from "@/Components/DraggableList/Draggable.vue";
  import { useSubGoalStore } from "@/Stores/subGoalStore";
  import { useTaskStore } from "@/Stores/taskStore";

  const subGoals = useSubGoalStore(),
        taskStore = useTaskStore();
  const states = useDialogStates();

  function generateSubtitle() {
    let tasks = subGoals.getTasks(states.subGoalOverview.subGoalId);
    let numTasks = tasks.filter(elem => !elem.checked).length;
    return `${numTasks} task${numTasks === 1 ? "" : "s"} remaining`
  }

  function openTaskDialog() {
    states.push("createTask", {
      goalId: subGoals.getById(states.subGoalOverview.subGoalId).parentId,
      subGoalId: states.subGoalOverview.subGoalId
    });
  }

  function handleDeletion() {
    const subGoal = subGoals.getById(states.subGoalOverview.subGoalId);

    states.push("createSubGoal", {
      title: subGoal.title,
      color: subGoal.color,
      goalId: subGoal.parentId,
      currentId: subGoal.id
    });
  }
</script>

<template>
  <Dialog v-if="states.subGoalOverview.visible"
          @close="states.pop">
    <div class="header">
      <div>
        <h2>{{subGoals.getById(states.subGoalOverview.subGoalId).title}}</h2>
        <p class="subtitle">{{generateSubtitle()}}</p>
      </div>
      <div>
        <i class="fa-solid fa-pen-to-square deleteButton" @click="handleDeletion"></i>
        <TextButton text="New ToDo" type="primary"
                    @click="openTaskDialog"></TextButton>
      </div>
    </div>
    <DraggableList class="content"
                   v-bind:array="taskStore.tasks">
      <Draggable v-for="elem in subGoals.getTasks(states.subGoalOverview.subGoalId)"
                 :dragId="elem.id">
        <TaskButton class="taskButton"
                    :taskData="elem"
                    :key="elem.id"
                    :color="subGoals.subGoals.find(entry => entry.id === elem.parentId).color"
                    show=""
                    @click="elem.checked = !elem.checked; taskStore.updateTask(elem)"></TaskButton>
      </Draggable>
    </DraggableList>
  </Dialog>
</template>

<style scoped lang="scss">
  .header {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: start;

    h2 {
      max-width: 20rem;
      word-break: break-word;
    }

    .deleteButton {
      cursor: pointer;
      padding: 0.7rem;
      background-color: transparent;
      border-radius: 100%;
      font-size: 1.25rem;
      color: var(--primary);
      margin-right: 0.5rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    margin-top: 1rem;
    max-height: 50vh;
    overflow-y: scroll;
  }
</style>