<script setup>
import TextButton from "@/Components/Inputs/TextButton.vue";
import Dialog from "@/Components/Dialogs/Dialog.vue";
import TextInput from "@/Components/Inputs/TextInput.vue";
import { useDialogStates } from "@/Stores/dialogStates";
import { v1 } from "uuid";
import ErrorBanner from "@/Components/ErrorBanner.vue";
import { ref } from "vue";
import { useGoalStore } from "@/Stores/goalStore";

const store = useGoalStore();
  const states = useDialogStates();
  const error = ref(null);

  function addGoal() {
    if (states.createGoal.title === "") {
      error.value = "You need to enter a title";
      return;
    } else if (states.createGoal.description === "") {
      error.value = "You need to enter a description";
      return;
    } else {
      error.value = null;
    }

    const entry = {
      id: v1(),
      title: states.createGoal.title,
      description: states.createGoal.description
    };

    store.addGoal(entry);
    states.createGoal.onCreate(entry);
    states.pop();
  }

  function close() {
    error.value = null;
    states.pop();
  }
</script>

<template>
  <Dialog class="createGoalDialog"
          @close="close"
          v-if="states.createGoal.visible">
    <div class="header">
      <div>
        <h2>Create A New Goal</h2>
        <p>Organize complex projects with ease</p>
      </div>
    </div>
    <div class="content">
      <TextInput placeholder="Title" class="textInput" v-model:value="states.createGoal.title"></TextInput>
      <TextInput placeholder="Description" v-model:value="states.createGoal.description"></TextInput>
      <ErrorBanner :title="error"
                   v-show="error !== null"
                   @close="error = null"></ErrorBanner>
    </div>
    <TextButton text="Create" type="primary" class="createButton"
                @click="addGoal"></TextButton>
    <TextButton text="Cancel"
                @click="close"></TextButton>
  </Dialog>
</template>

<style scoped lang="scss">
  :deep(.createGoalDialog) {
    width: var(--dialog-size);
  }

  .createGoalDialog {
    .createButton {
      margin-right: 0.5rem;
    }
  }

  .content {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
</style>