<script setup>
import Dialog from "@/Components/Dialogs/Dialog.vue";
import { useDialogStates } from "@/Stores/dialogStates";

const states = useDialogStates();
  const colors = [
      "#693722",
      "#695A22",
      "#4A6922",
      "#034F33",
      "#239277",
      "#236A92",
      "#232E92",
      "#462392",
      "#7B2392",
      "#922351",
      "#871A21"
  ];

  function returnColor(color) {
    states.colorPicker.onSelected(color);
    states.pop();
  }

  function cancel() {
    states.colorPicker.onCancel();
    states.pop();
  }
</script>

<template>
  <Dialog v-if="states.colorPicker.visible"
          @close="cancel">
    <div class="header">
      <h2>Available Colors</h2>
    </div>
    <div class="content">
      <div class="color"
           :class="{'selected': states.colorPicker.color === elem}"
           v-for="elem in colors" :style="{backgroundColor: elem}"
           @click="() => returnColor(elem)"></div>
    </div>
  </Dialog>
</template>

<style scoped lang="scss">
  .content {
    margin-top: 1rem;
    max-width: 20rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .color {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: var(--background-color);
    cursor: pointer;

    §.selected {
      border: 5px solid #fff;
    }
  }
</style>