<script setup>
import TextButton from "@/Components/Inputs/TextButton.vue";
import Dialog from "@/Components/Dialogs/Dialog.vue";
import TextInput from "@/Components/Inputs/TextInput.vue";
import { computed, ref, watch } from "vue";
import DateButton from "@/Components/Inputs/DateButton.vue";
import { useDialogStates } from "@/Stores/dialogStates";
import { v1 } from "uuid";
import DropDown from "@/Components/Inputs/DropDown.vue";
import ErrorBanner from "@/Components/ErrorBanner.vue";
import { useTaskStore } from "@/Stores/taskStore";
import { useSubGoalStore } from "@/Stores/subGoalStore";
import { useGoalStore } from "@/Stores/goalStore";

const taskStore = useTaskStore(),
        subGoalStore = useSubGoalStore(),
        goalStore = useGoalStore();

  const states = useDialogStates();
  const date = ref(new Date());
  const error = ref(null);

  function openDatePicker() {
    states.push("datePicker", {
      date: date.value,
      onSelected: selectedDate => {
        date.value = selectedDate;
      }
    });
  }

  function submit() {
    if (states.createTask.title === "") {
      error.value = "You need to enter a title";
      return;
    } else if (states.createTask.subGoalId === "") {
      error.value = "Your task needs to be assigned to a sub goal";
      return;
    } else {
      error.value = null;
    }

    if (states.createTask.currentId.length === 0) {
      const entry = {
        id: v1(),
        parentId: states.createTask.subGoalId,
        title: states.createTask.title,
        dueDate: date.value,
        checked: false
      }

      taskStore.addTask(entry);
    } else {
      let task = taskStore.getById(states.createTask.currentId);
      task.title = states.createTask.title;
      task.dueDate = date.value;
      task.parentId = states.createTask.subGoalId
      taskStore.updateTask(task);
    }

    states.createTask.onCreate();
    states.pop();
  }

  function cancel() {
    states.createTask.onCancel();
    error.value = null;
    states.pop();
  }

  let goals = computed(() => goalStore.goals.reduce((result, item) => {
    result[item.id] = item.title;
    return result;
  }, {}));

  let subGoals = ref({});

  function updateSubGoals() {
    subGoals.value = subGoalStore.subGoals.reduce((result, item) => {
      if(item.parentId === states.createTask.goalId) result[item.id] = item.title;
      return result;
    }, {});
  }

  watch(states.createTask, (value) => {
    if (value.visible) {
      updateSubGoals();
    }
  });
</script>

<template>
  <Dialog class="dialogCreateTask"
          v-if="states.createTask.visible"
          @close="cancel">
    <div class="header">
      <h2>{{states.createTask.currentId.length === 0
        ? "Add New ToDo"
        : "Edit ToDo"}}</h2>
      <p class="subtitle">{{states.createTask.currentId.length === 0
        ? "Create a new todo, the smallest entity"
        : "Modify your todo"}}</p>
    </div>
    <div class="content">
      <TextInput v-model:value="states.createTask.title"
                 placeholder="Title"
                 multiline="true"></TextInput>
      <div class="goalButtons">
        <DropDown class="dropdownButton" :data="goals"
                  v-model:value="states.createTask.goalId"
                  @update:value="updateSubGoals"></DropDown>
        <DropDown class="dropdownButton"
                  v-bind:data="subGoals"
                  v-model:value="states.createTask.subGoalId"></DropDown>
      </div>
      <DateButton v-bind:date="date" @click="openDatePicker"></DateButton>
      <ErrorBanner :title="error"
                   v-show="error !== null"
                   @close="error = null"></ErrorBanner>
    </div>
    <TextButton :text="states.createTask.currentId.length === 0
                       ? 'Create' : 'Edit'"
                type="primary"
                @click="submit"></TextButton>
    <TextButton text="Close"
                @click="cancel"></TextButton>
  </Dialog>
</template>

<style scoped lang="scss">
  :deep(.dialogCreateTask) {
    width: var(--dialog-size);
  }

  .content {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .goalButtons {
      display: flex;
      justify-content: space-between;

      .dropdownButton {
        max-width: 49%;
      }
    }
  }
</style>