<script setup>
  import TextButton from "@/Components/Inputs/TextButton.vue";
  import Dialog from "@/Components/Dialogs/Dialog.vue";
  import TextInput from "@/Components/Inputs/TextInput.vue";
  import { computed, ref } from "vue";
  import contrast from "contrast";
  import { useDialogStates } from "@/Stores/dialogStates";
  import { v1 } from "uuid";
  import ErrorBanner from "@/Components/ErrorBanner.vue";
  import { useSubGoalStore } from "@/Stores/subGoalStore";

  const store = useSubGoalStore();
  const states = useDialogStates();
  const highContrastColor = ref("#ffffff");
  const error = ref(null);

  const edit = computed(() => states.createSubGoal.currentId !== "");

  function createSubGoal() {
    if (states.createSubGoal.title === "") {
      error.value = "You need to enter a title";
      return;
    } else {
      error.value = null;
    }

    const entry = {
      "id": edit.value ? states.createSubGoal.currentId : v1(),
      "parentId": states.createSubGoal.goalId,
      "title": states.createSubGoal.title,
      "color": states.createSubGoal.color
    };

    if (edit.value) {
      store.updateSubGoal(entry);
    } else {
      store.addSubGoal(entry);
    }
    states.pop();
  }

  function openColorPicker() {
    states.push("colorPicker", {
      color: states.createSubGoal.color,
      onSelected: selectedColor => {
        states.createSubGoal.color = selectedColor;
        if (contrast(selectedColor) === 'light') {
          highContrastColor.value = '#000000';
        } else {
          highContrastColor.value = '#ffffff';
        }
      }
    });
  }

  function close() {
    error.value = null;
    states.pop();
  }

  function remove() {
    states.push("confirmation", {
      onConfirm: () => {
        store.removeSubGoal(store.getById(states.createSubGoal.currentId));
        states.pop();
      }
    })
  }
</script>

<template>
  <Dialog class="createSubGoalDialog"
          v-if="states.createSubGoal.visible"
          @close="close">
    <div class="header">
      <div>
        <h2>{{edit ? "Edit Subgoal" : "Add A New Subgoal"}}</h2>
        <p>Subgoals break your gigantic goals into bite-sized task groups</p>
      </div>
      <div class="colorPicker"
           :style="{backgroundColor: states.createSubGoal.color}"
           @click="openColorPicker">
        <i class="fa-solid fa-palette" :style="{color: highContrastColor}"></i>
      </div>
    </div>
    <div class="content">
      <TextInput placeholder="Title" v-model:value="states.createSubGoal.title"></TextInput>
      <ErrorBanner :title="error"
                   v-show="error !== null"
                   @close="error = null"></ErrorBanner>
    </div>
    <div class="buttons">
      <div>
        <TextButton :text="edit ? 'Edit' : 'Create'" type="primary"
                    @click="createSubGoal"></TextButton>
        <TextButton text="Close"
                    @click="close"></TextButton>
      </div>
      <i class="fa-solid fa-trash-can delete" v-show="edit"
         @click="remove"></i>
    </div>
  </Dialog>
</template>

<style scoped lang="scss">
  :deep(.createSubGoalDialog) {
    width: var(--dialog-size);
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete {
      padding: 0.75rem;
      border-radius: 100%;
      background-color: var(--negative);
      cursor: pointer;
    }
  }

  .content {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .header {
    display: flex;
    column-gap: 3rem;

    .colorPicker {
      min-width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blueviolet;
      border-radius: 100%;
      cursor: pointer;

      i {
        color: var(--primary);
        font-size: 1.2rem;
      }
    }
  }
</style>