<script setup>
import Dialog from "@/Components/Dialogs/Dialog.vue";
import { useDialogStates } from "@/Stores/dialogStates";

const states = useDialogStates();
</script>

<template>
  <Dialog v-show="states.ghost.visible">
    <img src="/Assets/Vectors/undraw_ghost.svg" alt="">
  </Dialog>
</template>

<style scoped lang="scss">

</style>